.container {
    font-size: 1.6rem;
    // padding: 0 8rem;
    display: grid;
    // grid-template-rows: min-content min-content repeat(8, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
}
